*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

header{
    display: flex;
    width:100%;
    height: 100vh;
    background-image: url("img/In-Raimbows-background.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); 
}
header * {
    position: relative;
    z-index: 2;
}
#nav-container{
    display:flex;
    flex-direction: row;
    height:10%;
    margin: 5px;
    
}
#logo-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}
#logo-container img{
    height: 100%;
    width:auto;

}

nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width: 60vw;
}

.nav-element{
    color: white;
    padding-left: 17px;
    padding-right: 17px;
}

.phone{
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.phone:hover{
    background-color: red;
    border-color: red;

}

#main-header{
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
#main-header h2{
    font-size: 3rem;
}
#main-header button{
    color: white;
    font-size: 1.2rem;
    padding: 15px 40px;
    background-color: red;
    border:none;
    border-radius: 8px;
}

main{
    width: 100%;
    margin:0;
}
#albums{
    height: 110vh;
    display: flex;
    background-color: red;
    flex-direction: column;
    
}

#albums-banner{
    background-color: blue;
    text-align: center;
    font-size: 2rem;
    margin-top: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

#albums-container{
    display: flex;
    margin-top: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    flex-direction: row;
    justify-content: space-between;
}

#about{
    height: 60vh;
}

#latest-album{
    height: 100vh;
}

#merch{
    height: 60vh
}