*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    
}

p{
    line-height: 40px;
}

a{
    color:white;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
    border: none !important;
    background-color: rgb(124, 0, 0) !important;
}

header{
    display: flex;
    width:100%;
    height: 100vh;
    background-image: url("img/In-Raimbows-background.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); 
}
header * {
    position: relative;
    z-index: 2;
}
#nav-container{
    display:flex;
    flex-direction: row;
    height:10%;
    margin: 5px;
    
}
#logo-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}
#logo-container img{
    height: 100%;
    width:auto;

}

#nav-container nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width: 60vw;
}

.nav-element{
    color: white;
    padding-left: 17px;
    padding-right: 17px;
}

.phone{
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.phone:hover{
    background-color: red;
    border-color: red;

}

#main-header{
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
#main-header h2{
    font-size: 3rem;
}
#main-header button{
    color: white;
    font-size: 1.2rem;
    padding: 15px 40px;
    background-color: red;
    border:none;
    border-radius: 8px;
}

main{
    width: 100%;
    margin:0;
}
#albums {
    height:auto;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    padding: 0 10vw; 
}

#albums-banner {
    text-align: center;
    font-size: 2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#albums-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
}

.albums-section {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 350px; 
    text-align: left;
}

.albums-section img {
    width: 100%; 
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
}

.albums-section h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem; 
    margin-bottom: 15px;
}

.albums-section p {
    margin: 0;
    font-size: 1rem; 
}

@media (max-width: 768px) {
    #albums-container {
        margin-left: 5vw;
        margin-right: 5vw;
        justify-content: center;
        gap: 15px; 
    }

    .albums-section {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    #albums-container {
        margin-left: 2vw;
        margin-right: 2vw;
        gap: 10px; 
    }

    .albums-section {
        width: 100%; 
    }
}

#review {
    height: auto; 
    min-height: 55vh;
    background-color: rgb(241, 237, 227);
    padding: 20px; 
}

#rolling-stone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; 
}

#rolling-stone-section img {
    margin-top: 50px;
    max-width: 80px;
    height: auto;
}

#rolling-stone-section h4 {
    font-weight: normal;
    margin-top: 15px; 
}

#rolling-stone-section p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem; 
}

#rolling-stone-section button {
    color: white;
    font-size: 1rem; 
    padding: 12px 30px; 
    background-color: red;
    border: none;
    border-radius: 8px;
}

@media (max-width: 768px) {
    #review {
        padding: 10px; 
    }

    #rolling-stone-section img {
        max-width: 60px; 
    }

    #rolling-stone-section p {
        font-size: 1.3rem; 
    }

    #rolling-stone-section button {
        font-size: 0.9rem; 
        padding: 10px 25px;
    }
}


@media (max-width: 480px) {
    #rolling-stone-section img {
        margin-top: 30px; 
        max-width: 50px;
    }

    #rolling-stone-section p {
        font-size: 1rem; 
    }

    #rolling-stone-section button {
        font-size: 0.8rem;
        padding: 8px 20px; 
    }
}

#about-creator {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 5vw; 
}

#contenedor-creator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; 
    max-width: 1200px; 
    width: 100%;
}

#imagen-creator {
    text-align: center;
    flex: 1; 
    margin: 0 auto; 
    margin-bottom: 20px; 
}

#imagen-creator img {
    width: 100%;
    max-width: 450px; 
    height: auto; 
    border-radius: 10px;
}

#texto-creator {
    flex: 2; 
    margin: 0 auto;
    padding: 5vw;
    text-align: left; 
}

#texto-creator h2 {
    font-weight: normal;
    font-size: 2rem;
}

#texto-creator p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem; 
}

#catalog-button,
#about-button {
    width: 200px; 
    display: inline-block; 
    text-align: center;
    padding: 12px 10px; 
    box-sizing: border-box; 
    margin: 5px; 
    border-radius: 8px;
}

#catalog-button{
    color: white;
    background-color: red;
    border: solid red 2px;
}

#about-button{
    color: red;
    background-color: white;
    border: solid red 2px;
}

@media (max-width: 768px) {
    #about-creator {
        flex-direction: column; 
        align-items: center;
    }

    #contenedor-creator {
        flex-direction: column; 
        gap: 30px;
    }

    #texto-creator {
        padding: 3vw;
    }

    #imagen-creator img {
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    #catalog-button,
    #about-button {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    #texto-creator h2 {
        font-size: 1.5rem;
    }

    #texto-creator p {
        font-size: 1rem;
    }

    #catalog-button,
    #about-button {
        width: 100%; 
        font-size: 0.9rem;
    }
}

#explore-more {
    position: relative; 
    height: auto;
    min-height: 55vh;
    background-image: url("img/Hail-To-The-Thief.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#explore-more::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

#explore-more * {
    position: relative; 
    z-index: 2; 
}

#explore-more h2 {
    font-size: 3rem;
    font-weight: normal;
}

#explore-more p {
    font-size: 1.5rem;
}

#explore-more button {
    width: 200px; 
    display: inline-block; 
    text-align: center;
    font-size: 1.5rem;
    padding: 12px 10px; 
    box-sizing: border-box; 
    margin: 5px; 
    border-radius: 8px;
    color: white;
    background-color: transparent;
    border: solid white 2px;
    border-radius: 8px;
}

footer {
    height:auto;
    min-height: 15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:black;
}

footer nav{
    display:flex;
    flex-direction:row;
    width: auto;
}

.foot-element{
    padding-left: 17px;
    padding-right: 17px;
}


#footer-logo{
    display: flex;
    max-height:10vh;
    max-width: auto;
    align-items: flex-start;
}

#footer-logo img{
    max-height: 10vh;
}

